doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    img(src='https://feedback-app-ago.firebaseapp.com/images/pic.png', align='middle')

    h4(align='middle') A Gondolkodás Öröme Alapítvány - Feedback App Admin Felület

    title= "Feedback App Export"
    link(rel='stylesheet', href='https://feedback-app-ago.firebaseapp.com/stylesheets/style.css')
    block headscript
  body
    div(id="message")
        block content
