extends ../layout

block content
  a(id='navigate', href='..') Vissza
  br
  br
  
  h1= "Események módosítása"

  a(id='navigate', href='./createEvent/') Új esemény
  br
  br

  table
    thead
    tbody
      each event, id in events
        tr
          td(class='click')
            a(id='entry', href='./#{id}/') #{id}
