extends ../layout

block content
  h1= "Esemeny hozzaadasa"
  
  form(method='POST' action='')
    div.form-group
      label(for='code') Kod:
      input(type='text', name='code', placeholder='1234')
    div.form-group
      label(for='name') Nev:
      input(type='text', name='name', placeholder='nev')
    div.form-group
      label(for='freq') Frekvencia
      input(type='number', name='freq', placeholder='0')
    div.form-group
      label(for='from') Mettol
      input(type='datetime-local', name='from', value=new Date().toLocaleString())
    div.form-group
      label(for='until') Meddig
      input(type='datetime-local', name='until', value=new Date().toLocaleString())

    button.btn.btn-primary(type='submit') Hozzaad

