extends ../layout

block content
  h1= "Esemenyek modositasa"

  a(href='/edit/createEvent') Uj esemeny
  br
  br

  table
    thead
    tbody
      each event, id in events
        tr
          td(class='click')
            a(href='/edit/#{id}') #{id}
